<div>
  <div style="display: flex">
    <div>
      <div style="display: inline-block; width: 100%; text-align: center">
        <h2>Voce sabia??</h2>
      </div>
      <div style="display: flex; margin-bottom: 1.5rem">
        <div class="left-up" style="margin-right: 1rem">
          <p style="text-align: center">19%</p>
          <br />
          <p>
            afirmam ter se assumido LGBTQIA+, <br />
            somente para parente ou amigos
          </p>
        </div>
        <div class="right-up">
          <p style="text-align: center">18%</p>
          <br />
          <p>contaram apenas para amigos</p>
        </div>
      </div>
      <div style="display: flex">
        <div class="bottom-left" style="margin-right: 1rem">
          <p style="text-align: center">8%</p>
          <br />
          <p>
            apenas para amigos e <br />
            colegar de trabalho
          </p>
        </div>
        <div class="bottom-right">
          <p>
            Pouco mais <span style="color: pink">1%</span><br />
            nunca contaram
          </p>
        </div>
      </div>
    </div>

    <div style="margin-left: auto">
      <img
        src="../../assets/images/mainImage.jpg"
        style="width: 100%; height: auto; max-width: 600px"
      />
      <p style="color: black; margin-top: -2rem; margin-left: 12rem">
        A caridade eh amor, amor eh compreensao
      </p>
    </div>
  </div>
  <p>
    Dados da materia da CNN Brasil em seu site, lancada no dia 17/12/2020 pelo
    Jornalista Daniel Corra
  </p>
</div>
